@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
    /* ------------------ 
    Global settings
    -------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Alegreya Sans SC', sans-serif; 
}

/* --------------------- 
    Variables
    -------------------- */
:root {
    --bg-color: #F0F0F0;
    --main-color: #000000;
    --color1: #C6C4C4;
    --color2: #E95793;
}

body{
    background-color: var(--bg-color);
    height: 100vh;
}

/* Home section styling */
.navbar{
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;
}

ul {
    display: flex;
    list-style: none;
}

ul a {
outline:none;
text-decoration: none;
margin-left: 28px;
transition: .3s;

}

ul a:hover, ul a.active1{
    color: var(--color2);
}

section{
    min-height: 100vh;
}
.home-section{
    margin: 48px;
}

.home-section h1{
    font-size: 30px;
    letter-spacing: 2px;
}

.P1{
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
span{
    color: transparent;
    -webkit-text-stroke: .12px var(--color2);
}
.P2{
    margin-left: 80px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.P3{
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    
}

.btn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px 10px 30px;
    border: 1.5px solid var(--color2);
    border-radius: 5px;
    color: var(--main-color);
    font-weight: bold;
    position: relative;
    left: 150px;
    bottom: 35px;
    
}

.btn::before{
    content:"";
    width: 0%;
    opacity: 0.45;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

.btn:hover::before{
    width: 100%;
    background-color: var(--color2);
    
}

.img{
    border-radius: 0 0 45% 45%;
    width: 300px;
    position: absolute;
    bottom: 20%;
    right: 6%;
}

/* About me section styling */

.heading2{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 38%;  
    font-weight:900;
    font-size: 30px;
}


.about-content p {
   position: relative;
   left: 52.5%;
   letter-spacing: 2px;
   
}


.about-content span{
    color: var(--color2);
    font-weight: bolder;
}

.about-content h3{
    position: relative;
    left: 52.5%;
    padding-top: 20px;
}

.skills{
    display: flex;
    position: relative;
    left: 52.5%;
}

.skills .skill-items{
    border: 1.5px solid var(--color2);
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-weight: 500;
}

.image2 .img2{
    position: absolute;
    top: 100%;
    border-radius: 0 0 45% 45%;
    left: 7%;
}

button{
    user-select: none;
}

.about-tabs .tabs-items{
    border:none;
    background-color: transparent;
    color: var(--main-color);
    margin: 10px 20px 0;
    padding: 0 0 10px;
    position: relative;
    left: 51%;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}


.about-tabs .tabs-items::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--color2);
    transition: width  .3s ease;
}


.about-tabs .tabs-items:hover::before{
    width: 100%;
}


.about-tabs .tabs-items.active2::before{
    width: 100%;
    background-color: var(--color2);
}

.about-tabs .tabs-items.active2{
    color: var(--color2);
    cursor: auto;
}

.about-tabs .tab-content{
    position: relative;
    left: 52.5%;
    margin-top: 5px;
    display: none;
    height: 100%;

    
}

.about-tabs .tab-content.active3{
    display: block;
}


.about-tabs .timeline-items .date{
    display: block;
    color: var(--color2);
    font-weight: 500;
}


.about-tabs .timeline-items h4{
    margin-bottom: 10px;
    line-height: 35px;
    letter-spacing: 2px;
}


.about-tabs .timeline-items p {
    font-weight: 550;
    letter-spacing: 2px;
    line-height: 22px;
}


.about-tabs .time-line{
    position: relative;
}

.about-tabs .time-line::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: 5px;
    background-color: var(--color2);

}


.about-tabs .timeline-items{
    position: relative;
    padding: 10px 0 0 20px;
}
.about-tabs .timeline-items::before{
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    left: 0;
    top: 14.5px;
    background-color: var(--color2);
    border-radius: 50%;
}





 #btn2{
    text-decoration: none;
    color: var(--main-color);
    border: 1.5px solid var(--color2);
    border-radius: 5px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    left: 65%;
    bottom: 10%;
    margin-top: 35px;
    padding: 10px 15px;
   
}