@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
    /* ------------------ 
    Global settings
    -------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Alegreya Sans SC', sans-serif; 
}

/* --------------------- 
    Variables
    -------------------- */
:root {
    --bg-color: #F0F0F0;
    --main-color: #000000;
    --color1: #C6C4C4;
    --color2: #E95793;
    --opacity: 0.85;
}

